
.headOrder{
    /* font-size: 78px; */
    font-size: 3.8vw;
    /* border: 2px solid red; */
    width: fit-content;
    margin-top: 0px;
}
.headBody{
    /* font-size: 20px; */
    font-size: 2vw;
  
    /* border: 2px solid pink; */
    margin-top: -3vw;
    padding-top: 1vw;
}

.main{
    background-color: fff;
    margin: auto;
    overflow: hidden;

}

.doodle,.empty{
    background-image: url('/assets/images/doodleBg.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -15vw;
    /* border: 2px solid red; */
}

.sectionOne{
    height: auto;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
    padding: 50px;
    flex-wrap: wrap;
    /* border: 2px solid red; */
}

.gwp_container{
    /* border: 2px solid red; */
    position: relative;
}
.sectionOneImage {
    width: 40.5vw;
    height: 27vw;
   /* border: 2px solid red;*/
   object-fit: contain;

}
.gwp_left{
    left: -5vw;
    top: 10vw;
    position: absolute;
    width: 20vw;
    height: 20vw;
}
.gwp_right{
    position: absolute;
    right: 0;
    bottom: 10vw;
    width: 20vw;
    height: 20vw;
}

.downloadLinkContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* border: 2px solid red; */
}
.sectionOneLeftItem{
    /* border: 2px solid green; */
    margin-top: 0px;
    width: 45%;
}
.sectionOneRightItem{
    /* border: 2px solid green; */
    margin-top: 0px;
}

.sectionTwo{
    background-color: rgba(5, 68, 37, 1);
    /* border: 2px solid red; */
    text-align: center;
    height: inherit;
    position: relative;
   
   
}

.h_1 {
    padding-top: 30px;
    font-size: 44px;
    color: white;
    text-align: center;
    /* border: 2px solid red; */
}
.h_2{
    font-size: 3.7vw;
    text-align: center;
    /* border: 2px solid red; */
}

.h_3{
    font-size: 2.7vw;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-align: center;
    /* border: 2px solid red; */

}

.stp{
 
    margin-top: -1.5vw;
    font-size: 1.8vw;
    color: white;
    text-align: center;
    /* border: 2px solid red; */
}

.convImages{
    /* border: 2px solid red; */
    margin: auto;
    position: absolute;
    top: 0;
    margin: auto;
    left: 14vw;
    right: 13.5vw;
    bottom: 0;
    height: inherit;
}

.conv1 {
    position: absolute;
    bottom: 20%;
    /* border: 2px solid red; */
    right: calc(16.5vw + 20px);
    width:10vw;
    
    
    
}

.conv2{
    position: absolute;
    top: calc(30% + 10px);
    left: 12vw;
    height: 50px;
    width:18vw;
}

.conv3{
    position: absolute;
    top: calc(50% + 10px);
    left: 16.5vw;
    height: 50px;
    width:10vw;
}

.conv4{
    position: absolute;
    top: calc(35% + 10px);
    right: calc(16.5vw + 20px);
    width:10vw;
}

.conv5{
    position: absolute;
    bottom: 20%;
    left: 17.5vw;
    width:10vw;
}

.convMain{
    width: 20vw;
}


.convMain, .conv1, .conv2, .conv3, .conv4, .conv5, .sectionOneImage, .sell_deliver, .sell_deliver2,.gwp_right, .gwp_left {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.8s ease, transform 0.8s ease;
  }


.downloadLink{
    background-color: rgba(5, 68, 37, 1);
    color: white;
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    gap: 3px;
}

.downloadLink:hover{
    background-color: transparent;
    color: rgba(5, 68, 37, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.sectionThree  .downloadLink{
    border: 2px solid white;
}

.sectionThree  .downloadLink:hover{
    background-color: white;
    color: rgba(5, 68, 37, 1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

}
.sectionThree{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* background-color: rgba(5, 68, 37, 1); */
    background-color: fff;
    background-image: url('/assets/images/bgreen.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 13vw;
    /* background-position: center 13vw; */
    border-bottom: 1px solid rgba(5, 68, 37, 1);
    /* clip-path: path('M1448.33 108.5C1448.33 158.758 1103.98 199.5 706.334 199.5C308.689 199.5 -10.1655 158.758 -10.1655 108.5C-28.6655 -2.5 257.835 91.5 1107.83 0C1505.48 0 1448.33 58.2421 1448.33 108.5Z'); */
    
}

.sectionFour{
    background-color: fff;
    background-image: url('/assets/images/bgreen.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -95vw;
    border-top: 2px solid rgba(5, 68, 37, 1);
    margin-top: -10px;
    /* border: 2px solid red; */
    margin-bottom: 50px;
}



    

.sell_deliverContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /* border: 2px solid red; */
    gap: 30px;
}

/* .sell_deliver , .sell_deliver2{
    width: 40vw;
    height: 23vw;
} */

/* .partners{
    color: white;
    background-color: rgba(255, 255, 255, 0.087);
    padding: 10px;
    min-width: fit-content;
    border-radius: 8px;
    border: 1px solid green;
    text-align: center;
    flex: 0 0 auto;
    font-size: 14px;
   
    margin-top: -10px;


} */

.partners_img{
    width: auto;
    height: 20vw;
    object-fit: contain;
    display: inline-block;
    /* border: 2px solid red; */
}

.partners_imgContainer{
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    /* border: 2px solid white; */
}

.partnersContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow: hidden;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
    justify-content: space-around;
    /* border: 2px solid red; */
    position: relative;
    right: 0px;
    left: 0px;
    height: 300px;
    scrollbar-width: 0;
    width: 100%;
    
   
}
.partners_imgContainer::-webkit-scrollbar {
    opacity: 0;
    width: 2px;
    height: 2px;
}

.partners_imgContainer::-webkit-scrollbar-thumb {
    background: rgba(5, 68, 37, 1); 
    border-radius: 10px; 
    opacity: 0; 
}

.partners_imgContainer::-webkit-scrollbar-track {
    background: transparent; 
    border-radius: 10px;
}


.partners_imgContainer:hover::-webkit-scrollbar,
.partners_imgContainer:focus::-webkit-scrollbar {
    opacity: 1; 
    transition: opacity 0.3s; 
}

.carouselContainer{
    margin-top: 170px;
    /* border: 2px solid maroon; */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: auto;

}

.carousel{
   
}
.empty{
    /* border: 2px solid rgb(236, 4, 194); */
   
}

@media screen and (max-width: 1300px){

    .sectionOne{
        /* border: 2px solid blue; */
        /* display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        padding-top: 50px;
        gap: 20px; */
    }

    .sectionOneLeftItem{
        /* text-align: center; */
        /* border: 2px solid green; */
        /* margin-top: 0px;
        width: 90%;
        padding-bottom: 35px; */
        
    }
 

/* .h_1,.h_2{
    font-size: 30px;
} */

.h_3{
    font-size: 35px;
    color: white;

}
/* .stp{
    font-size: 15px;
    margin-top: -20px;
} */
 
  

    .downloadLink{
        font-size: 10px;
    }


    .convMain{
        width: 25vw;
    }

    .sectionOneImage{
        /* width: 400px;
        height: 250px */
       /* border: 2px solid red; */
    
    }


    
    .conv1 {
        position: absolute;
        bottom: 20%;
        /* border: 2px solid red; */
        right: calc(10vw + 20px);
        width:15vw;
        /* border: 2px solid red; */
        
        
    }
    
    .conv2{
        position: absolute;
        top: calc(30% + 10px);
        left: 10vw;
        height: 50px;
        width: 20vw;
    }
    
    .conv3{
        position: absolute;
        top: calc(50% + 10px);
        left: 10vw;
        height: 50px;
        width: 15vw;
    }
    
    .conv4{
        position: absolute;
        top: calc(35% + 10px);
        right: calc(10vw + 20px);
        width: 15vw;
    }
    
    .conv5{
        position: absolute;
        bottom: 20%;
        left: 10vw;
        width: 15vw;
    }

    
    .sectionThree{
       
        background-image: url('/assets/images/bgreen-mobile.svg');
      
    }

    .sell_deliver , .sell_deliver2{

        width: 40vw;
        height: 20vw;

    }
    
    
    
    

}


@media screen and (max-width: 830px){

    .gwp_left{
       display: none;
    }
    .gwp_right{
        display: none;
    }

    .downloadLinkContainer{
        justify-content: center;
        padding-bottom: 20px;
        
      
          /* border: 2px solid red; */
      }
      .headBody{

        font-size: 3.3vw;
        padding-bottom: 5vw;
        width: 76%;
        margin: auto;
        margin-top: -5vw;
        /* border: 2px solid red; */
    
      }
  


    .h_1{
        font-size: 5.8vw;
    }
    .h_2{
        font-size: 6.9vw;
        padding: 3.3vw;
        /* border: 2px solid red; */
       

    }
    .h_3{
        width: 70%;
        font-size: 6.5vw;
    }
    .stp{
        font-size: 3vw;
    }

    .partnersContainer{

        height: 300px;

    }
    .convMain{
        width: 40vw;
    }

    .sectionOneImage {
        width: 60vw;
        height: 40vw;
       /* border: 2px solid red; */
    
    }
    .sell_deliver, .sell_deliver2{
        width: 60vw;
        height: 30vw;
    }
    
    .convImages{
        left: 20px;
        right: 20px;
    }

    .conv1 {
        position: absolute;
        bottom: 20%;
        /* border: 2px solid red; */
        right: calc(5vw + 20px);
        width:25vw;
        /* border: 2px solid red; */
        
        
    }
    
    .conv2{
        position: absolute;
        top: calc(30% + 10px);
        left: 5vw;
        height: 50px;
        width: 35vw;
    }
    
    .conv3{
        position: absolute;
        top: calc(50% + 10px);
        left: 5vw;
        height: 50px;
        width: 25vw;
    }
    
    .conv4{
        position: absolute;
        top: calc(35% + 10px);
        right: calc(5vw + 20px);
        width: 25vw;
    }
    
    .conv5{
        position: absolute;
        bottom: 20%;
        left: 5vw;
        width: 25vw;
    }
    .main{
        width: 100%;
        /* border: 2px solid red; */
        padding-left: 0px;
        padding-right: 0px;
    }
   
     .sectionOneLeftItem{
        text-align: center;
        /* border: 2px solid green; */
        margin-top: 0px;
        width: 95%;
    }

    .downloadLink{
        padding: 8px;
        font-size: 10x;
        border-radius: 4.5px;
    }

.headOrder{
    font-size: 9.6vw;
    width: 95%;
    /* border: 2px solid red; */
   
    

}

.sectionThree{
    background-image: url('/assets/images/bgreen-mobile.svg');
    background-position: center 40vw;
}

.sectionFour{
    background-color: fff;
    background-image: url('/assets/images/bgreen-mobile.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -185vw;
    /* border: 2px solid red; */
    /* background-image: none; */
  

}

.carousel{
    margin-top:  50px;
    
}


.carouselContainer{
    margin-top: 20vw;
    margin-bottom: -25vw;
    /* border-top: 2px solid green; */
    height:auto;
    /* padding-bottom: 20px; */
}

.sectionFive{
    /* border: 2px solid red; */
    margin-top: 35vw;
}

.sell_deliver , .sell_deliver2{
    width: 70vw;
    height: 40vw;
}

.sell_deliverContainer{
    flex-direction: column;
}

.partners_img{
    width: auto;
    height: 50vw;
    object-fit: contain;
    display: inline-block
    /* border: 2px solid red; */
}
.partners_imgContainer{
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    /* border: 2px solid white; */
}

}

@media screen and (max-width: 600px){


    .h_2{
        /* border: 2px solid red; */
        padding: 3.3vw;
    }

    .h_3{
        /* border: 2px solid red; */
        width: 80%;
        font-size: 7.5vw;
    }
    .sectionOne{
        justify-content: center;
        padding: 5px;
    }

    .sectionOneImage{
        width: 90vw;
        height: 60vw;
      
      }


      .sell_deliver, .sell_deliver2{
        width: 70vw;
        height: 40vw;
      } 

      .sectionThree{
        background-image: url('/assets/images/bgreen-mobile.svg');
        background-position: center 40vw;
    }
    
    .sectionOneLeftItem{
        width: 95vw;
        /* border: 2px solid orange; */
      }
/* .partners{
    font-size: 12px;
    padding: 5px;
    border-radius: 4px;
    flex-shrink: 0;
   
} */

.headOrder{
    font-size: 9.6vw;
    width: 80%;
    /* border: 2px solid red; */
    margin: auto;
    

}

.headBody{
    margin-top: 5vw;
}



}

@media screen and (max-width: 330px){
/* added .downloadLink*/
    .downloadLink{
        background-color: rgba(5, 68, 37, 1);
        color: white;
        text-decoration: none;
        padding: 5px;
        border-radius: 3px;
        font-size: 8px;
        display: flex;
        justify-content: center;
        gap: 2px;
    }

    .downloadLinkContainer{
        gap:5px;
    }
    .headOrder{
        font-size: 30px;
        width: 92%;
        padding-bottom: 10px;
    }
    .headBody{

        font-size: 3.5vw;
        margin-top: -2vw;
      }
    
        /* .h_1{
            font-size: 12px;
        } */
        /* .h_2{
            font-size: 15px;
    
        }
        .h_3{
            font-size: 15px;
        
        } */
        /* .stp{
            font-size: 8px;
            margin-top: -10px;
        } */

           
    .convImages{
        left: 10px;
        right: 10px;
    }

}