.embla {
    overflow: hidden;
    position: relative;
    font-family: "Inter", sans-serif;
  }
  
  .embla__viewport {
    overflow: hidden;
    width: 99%;
    /* border: 2px solid red; */
    position: relative;
    margin-top: 10vw;
 
    
  }
  
  .embla__container {
    display: flex;
    align-items: flex-start;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
    /* border: 2px solid red; */
    
  }
  
 .embla__slide {
    position: relative;
    flex: 0 0 100%; 
    min-width: 0;

  }

  /*
  .embla__slide__img {
    display: block;
    width: 70vw;
    height: 30vw;
  } */

  /* @media screen and (max-width: 830px){

    .embla__slide__img {
        display: flex;
        width: 85vw;
        height: 100vw;
        margin: auto;
        flex-shrink: 0;
      }
  }
   */

   .embla__slide__content {
    display: flex;
    flex-direction: row; /* Default to row on larger screens */
    justify-content:center;
    align-items: flex-start;
    gap: 5vw; /* Space between images */
    /* border: 2px solid pink; */
  }
  
  .embla__slide__img {
    width: 30vw; /* Adjust to fit two images in a row */
    height:35vw;
    /* border: 2px solid green; */
    object-fit:fill;
  }
  .embla__slide__img2{
    width: 35vw;
    height: auto;
    /* border: 2px solid red; */

  }
  @media screen and (max-width: 830px) {

    .embla__viewport {

      margin-top: 30vw;
    }
    .embla__slide__content {
      flex-direction: column; /* Stack images in a column on smaller screens */
      align-items: center;
      justify-content: center;
      gap: 0.5rem;
    }

  
    .embla__slide__img {
      width: auto; /* Adjust image size for smaller screens */
      height: 115vw;
      margin: 0 auto;
    }
    .embla__slide__img2{
      width: 65vw;
      height: auto;
      /* border: 2px solid yellow; */
    }

  }
  