
.main{
    background-color:  rgba(5, 68, 37, 1);
    color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 10%;
    padding-right: 10%;
}

.socials{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    height: fit-content;
    gap: 10px;
}

.spts{
    display: flex;
    /* border: 2px solid red; */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 5vw;
}

.rightsReserved{
    text-align: center;
}

@media screen and (max-width: 830px){

        .main{
            /* margin-top: 35vw; */
        }


}